form {
    background-color: #e2dddd;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
    border: 1px solid #5c5c5c;
    border-radius: 1px;
}
h1 {
    margin-left: 20px;
}
label {
    margin-left: 20px;
    font-weight: bold;
}
button {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
textarea {
    width:300px;
    height:100px;
    margin-left: 20px;
    border-radius: 5px;
}
input {
    font-size: 15px;
    border-radius: 5px;
    border:1p solid #ccc;
    margin-bottom: 7px;
}


@media (max-width:1024px) {
    form {
        margin-left: 290px;
        margin-right: 290px;
    }
}

@media (min-width:769px) and (max-width:1023px) {
    form {
        font-size:17px;
    }
}